In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import xgboost as xgb
from sklearn.model_selection import train_test_split

Decision trees are another standard credit risk model. We will go beyond decision trees by using the trendy XGBoost package in Python to create gradient boosted trees.

In [5]:
df = pd.read_csv('/Credit-Risk-Modelling/Datasets/loan_data_encoded.csv')
df.sample(10)

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,...,loan_intent_VENTURE,loan_grade_A,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_N,cb_person_default_on_file_Y
30593,40,60000,1.0,3500,12.99,0,0.06,14,1,0,...,0,0,0,1,0,0,0,0,0,1
10599,22,69000,4.0,15000,14.42,0,0.22,2,1,0,...,0,0,0,0,1,0,0,0,0,1
30268,40,50000,1.0,12000,10.99,0,0.24,15,1,0,...,0,0,1,0,0,0,0,0,1,0
27661,27,160000,4.0,6000,10.99,0,0.04,6,1,0,...,0,0,1,0,0,0,0,0,1,0
15708,24,156000,6.0,15000,13.57,0,0.10,4,1,0,...,0,0,0,1,0,0,0,0,0,1
651,24,60000,0.0,20000,10.99,1,0.33,2,0,0,...,0,0,1,0,0,0,0,0,1,0
2778,23,34348,7.0,5000,7.90,0,0.15,3,1,0,...,0,1,0,0,0,0,0,0,1,0
14272,23,78000,6.0,14400,14.27,0,0.18,4,0,0,...,1,0,0,1,0,0,0,0,0,1
5480,26,60000,0.0,5000,7.14,0,0.08,2,0,0,...,0,1,0,0,0,0,0,0,1,0
7063,26,60000,9.0,7000,13.49,0,0.12,2,0,0,...,0,0,0,1,0,0,0,0,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32574 entries, 0 to 32573
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      32574 non-null  int64
 1   person_income                   32574 non-null  int64
 2   person_emp_length               32574 non-null  float64
 3   loan_amnt                       32574 non-null  int64
 4   loan_int_rate                   32574 non-null  float64
 5   loan_status                     32574 non-null  int64
 6   loan_percent_income             32574 non-null  float64
 7   cb_person_cred_hist_length      32574 non-null  int64
 8   person_home_ownership_MORTGAGE  32574 non-null  int64
 9   person_home_ownership_OTHER     32574 non-null  int64
 10  person_home_ownership_OWN       32574 non-null  int64
 11  person_home_ownership_RENT      32574 non-null  int64
 12  loan_intent_DEBTCONSOLIDATION   32574 non-null  int64
 13  loan_intent_EDUCATION           32574 non-null  int64
 14  loan_intent_HOMEIMPROVEMENT     32574 non-null  int64
 15  loan_intent_MEDICAL             32574 non-null  int64
 16  loan_intent_PERSONAL            32574 non-null  int64
 17  loan_intent_VENTURE             32574 non-null  int64
 18  loan_grade_A                    32574 non-null  int64
 19  loan_grade_B                    32574 non-null  int64
 20  loan_grade_C                    32574 non-null  int64
 21  loan_grade_D                    32574 non-null  int64
 22  loan_grade_E                    32574 non-null  int64
 23  loan_grade_F                    32574 non-null  int64
 24  loan_grade_G                    32574 non-null  int64
 25  cb_person_default_on_file_N     32574 non-null  int64
 26  cb_person_default_on_file_Y     32574 non-null  int64
dtypes: float64(3), int64(24)
memory usage: 6.7 MB

Prepared data for model training

In [7]:
X = df.drop('loan_status', axis=1)
y = df[['loan_status']]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.4, 
                                                    random_state=2)

In [12]:
# Train a model
clf_gbt = xgb.XGBClassifier().fit(X_train, np.ravel(y_train))

# Predict probabilities of the model
gbt_preds = clf_gbt.predict_proba(X_test)

In [23]:
# Create dataframes of first five predictions, and first five true labels
preds_df = pd.DataFrame(np.round(gbt_preds[:,1][0:5] * 100, 2), columns = ['prob_default'])
true_df = y_test.head()

# Concatenate and print the two data frames for comparison
pd.concat([true_df.reset_index(drop = True), preds_df], axis = 1)

   loan_status  prob_default
0            0          3.28
1            0          0.65
2            0          6.30
3            0         10.75
4            0          3.08